

.trainer-section {
    display: flex;
   /* Adjust width to give spacing on the sides */
    background-color: #ebf5d3f3;
    flex-direction: row;
    min-width: 500px;
    max-width: 550px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  
.breakfast-card h4 {
    margin-bottom: 15px;
  }
  
  .meal {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .meal-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .nutrient-bar-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .nutrient-labels {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #6c757d;
  }
  
  .nutrient-bar {
    display: flex;
    height: 10px;
    background-color: #e9ecef;
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
  }
  
  .nutrient-bar span {
    display: block;
    height: 100%;
  }
  
  .carbs {
    background-color: #7716e7;
  }
  
  .protein {
    background-color: #f17116;
  }
  
  .fat {
    background-color: #f32929;
  }